/* Стилі для контейнера картки */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease;
}

.profile:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

/* Стилі для зображення аватару */
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* Стилі для імені користувача */
.name {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

/* Стилі для тегу користувача */
.tag {
  color: #666;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 24px;
}

/* Стилі для місцезнаходження користувача */
.location {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Стилі для списку статистики */
.stats {
  border: 1px solid #666;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 0;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Стилі для кожного елемента статистики */
.stats li {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Стилі для мітки статистики */
.label {
  margin-bottom: 5px;
  color: #333333;
}

/* Стилі для кількості статистики */
.quantity {
  font-weight: bold;
}
